@import url("../../../styles/color.css");
@import url("../../../utils/fonts/fonts.css");

.select {
    -moz-appearance: none; /* Firefox */    
    -webkit-appearance: none; /* Safari and Chrome */    
    appearance: none;
    padding: 0rem 5rem;
    font-family: "Poppins-Medium", sans-serif;
}

.select:disabled {
    opacity: 0.5;
}

.select_small {
    height: 2.125rem;
    font-size: 0.875rem;
    border-radius: 0.3125rem;
    border: 1px solid var(--black-2);
}

.select_medium {
    /* For state and district select */
    min-height: 1rem;
    border: none;
    font-size: 0.875rem;
}

.select_medium::after {
    /* For state and district select */
    min-height: 1rem;
    border: none;
    font-size: 0.875rem;
}

.select_large {
    border-radius: 0.3125rem;
    height: 3rem;
    padding: 0rem 0.75rem;
    font-size: 0.875rem;
    border: 1px solid var(--black-2);
}

.select_text_selcted {
    color: var(--black-0);
    background: url("../../../utils/images/select-arrow-icon.svg") no-repeat right;
}

.select_text_not_selected {
    color: var(--black-3);
    background: url("../../../utils/images/not-select-arrow-icon.svg") no-repeat right;
}