/* include all the global css */
/* eg: styles related to text, background colors of div, border etc */
@import url("./color.css");

/* color and background color classes */

.color-green-0 {
    color: var(--green-0);
}

.bg-green-0 {
    background-color: var(--green-0);
}

.bg-green-1 {
    background-color: var(--green-1);
}

.offcanvas {
    padding: 1.25rem !important;
}

a {
    cursor: pointer;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.list-item-button {
    width: 100%;
    border: none;
    background-color: var(--white-0);
    height: 3.75rem;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0rem;
    border-bottom: 1px solid var(--black-1);
}

.li-icon {
    width: 1.5rem;
    height: 1.5rem;
    color: var(--black-8);
}

.li-selected {
    background-color: var(--green-1);
    border-left: 4px solid var(--green-0);
}

.li-not-selected {
    background-color: var(--white-1);
    border-left: 4px solid var(--white-1);
}

.sidebar-ul {
    margin-left: 0.75rem;
}

.breadcrumb-item {
    font-size: 0.75rem;
}

.breadcrumb-item.inactive {
    color: var(--black-6);
}

.breadcrumb-item.active {
    color: var(--black-0);
}

.breadcrumb-item a {
    text-decoration: none;
}

.data-card {
    border-radius: 0.5rem;
    border: 1px solid var(--black-1);
}

/* modal width & height */
.width-18-75.modal {
    --bs-modal-width: 18.75rem !important;
}

.width-30.modal {
    --bs-modal-width: 30rem !important;
}

.width-62-5.modal {
    --bs-modal-width: 62.5rem !important;
    /* background-color: var(--green-1); */
}

.height-90.modal {
    height: 90vh !important;
    min-width: 90vh !important;
}

.no-scrollbar::-webkit-scrollbar {
    width: 0rem;
}

.coverage-div {
    border-radius: 0.3125rem;
    border: 1px solid var(--black-1);
    background: var(--white-1);
}

.disabled-div {
    pointer-events: none;
    opacity: 0.45;
}

.bubble-legend {
    width: 0.9375rem;
    height: 0.9375rem;
    border-radius: 0.46875rem;
}