/* include all the global css */
/* eg: styles related to text, background colors of div, border etc */
@import url("./color.css");

a {
    cursor: pointer;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.list-item-button {
    width: 100%;
    border: none;
    background-color: var(--white-0);
    height: 3.75rem;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0rem;
    border-bottom: 1px solid var(--black-7);
}

.li-icon {
    width: 1.5rem;
    height: 1.5rem;
    color: var(--black-8);
}

.li-selected {
    background-color: var(--green-1);
    border-left: 4px solid var(--green-0);
}

.sidebar-ul {
    margin-left: 0.75rem;
}

.breadcrumb-item {
    font-size: 0.75rem;
}

.breadcrumb-item.inactive {
    color: var(--green-1);
}

.breadcrumb-item.active {
    color: var(--black-0);
}

.breadcrumb-item a {
    text-decoration: none;
}

.data-card {
    border-radius: 0.5rem;
    border: 1px solid var(--black-1);
}

.card-green-bg {
    background-color: var(--green-0);
}

.font-rejected {
    color: var(--rejected-1);
}

.font-primary-green {
    color: var(--green-0);
}

.data-card-normal-font {
    color: var(--grey-0);
}

.color-green-0 {
    color: var(--green-0);
}

.bg-green-7 {
    background-color: var(--green-7);
}
/* modal width */
.width-18-75.modal {
    --bs-modal-width: 18.75rem !important;
}
.width-30.modal {
    --bs-modal-width: 30rem !important;
}

.width-62-5.modal {
    --bs-modal-width: 62.5rem !important;
}