@import url("../../../styles/color.css");
/* @import url("assets/fonts/fonts.css"); */

.btn_primary { /* black button */
	background-color: var(--black-1);
	border-color: var(--black-1);
	border-radius: 5px;
	color: var(--white-1);
	height: 3rem;
	/* margin: 0rem 0.5rem; */
}

.btn_primary_transparent {
	background-color: var(--black-1);
	border: 0;
	color: var(--white-1);
	height: 3rem;
}

/* .btn_primary:hover {
    background-color: var(--primary-hover-1);
    border-color: var(--primary-hover-1);
    border-radius: 0;
    color: var(--white-1);
  } */

.btn_secondary { /* white button */
	background-color: var(--white-1);
	border-color: var(--black-1);
	border-radius: 5px;
	color: var(--black-0);
	height: 3rem;
	/* margin: 0rem 0.5rem; */
}

.btn_secondary_transparent { /* white button */
	background-color: var(--white-1);
	border: none !important;
	color: var(--black-0);
	height: 3rem;
}

.btn_muted { /* lightgray button */
	background-color: var(--black-6);
	border-color: var(--black-6);
	border-radius: 5px;
	color: var(--white-1);
	height: 3rem;
}

.btn_muted_transparent { /* lightgray button */
	background-color: var(--white-1);
	border: none;
	color: var(--black-6);
	height: 3rem;
}

.btn_muted:hover {
    background-color: var(--black-6);
	border: none;
	color: var(--white-1);
	height: 3rem;
  }

.btn_warning {
	background-color: var(--warning);
	border-color: var(--warning);
	border-radius: 4px;
	color: var(--white-1);
}

.btn_warning_transparent {
	background-color: var(--white-1);
	border: none !important;
	color: var(--warning);
}

.btn_small {
	font-size: 0.75rem !important; /* 12px */
	width: fit-content;
}

.btn_default {
	font-size: 0.813rem; /* 13px */
	width: fit-content;
}

.btn_medium {
	font-size: 0.875rem !important; /* 14px */
	width: 198px;
}

.btn_large {
	font-size: 1rem !important; /* 16px */
	width: 100%;
}

.no_radius {
	border-radius: 0;
}

.btn_avatar {
	width: 2.188rem;
    height: 2.188rem;
    padding: 0rem 0.25rem;
	color: var(--white-1);
}

.btn_avatar:hover {
	color: var(--white-1);
}
