@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

:root {
	--primaryColor: #f2f3f4;
	--secondaryColor: #ffffff;
	--lightGreyColor: #E7E7E9;
	--pinkColor: #f45eac;
	--blackColor: #1f1f1f;

	--background-color: #f2f3f4;
	--light-gray-color: '#E7E7E9';
	--gray-color: gray;
	--black-color: black;
	--white-color: white;
	--light-pink-color: pink;
	--pink-color: #f45eac;

}

/*background color  */
.App {
	text-align: center;
	background-color: var(--background-color);
	height: 100vh;
	font-family: 'Poppins', sans-serif;
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

/* Header */
.header-height {
	height: 12vh;
}

.map-options-height {
	height: 8vh;
}

.enmasse-logo-font {
	font-family: 'Bai Jamjuree', sans-serif;
}

.overlay-container {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
	background-color: none;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 999;
}

.global-btn {
	width: 10rem;
	height: 2.5rem;
	font-weight: 500;
}

.select-right-margin {
	border-right: 0.5px solid #D2D4D6;
}

.primary-select-box .css-1t0qkoj-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.MuiSelect-select {
	text-align: start;
	padding-left: 0rem;
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	font-size: 0.85rem;
}

.primary-select-box .css-1t0qkoj-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
	padding-top: 0rem;
	padding-bottom: 0rem;
}

/* MapButtonGroup */


/* sidebar css */
.sideBar-parent-expended {
	height: 80vh;
	width: 23vw;
	display: flex;
	flex-direction: row;
	align-items: center;
	background-color: white;
}

.sideBar-parent-collapsed {
	height: 80vh;
	width: 1vw;
	display: flex;
	flex-direction: row;
	align-items: center;
	background-color: white;
}

.SideBar {
	display: flex;
	flex-direction: column;
	float: right;
	align-items: start;
	height: 80vh;
	background-color: #FFFFFF;
	align-content: center;
	z-index: 999;
}

.SideBarContent {
	height: 80vh;
	right: 0;
	overflow: auto;
}

.SideBarIcon {
	margin-left: -2rem;
}

@media only screen and (max-width: 850px) {
	.sideBar-parent-expended {
		height: 80vh;
		width: 100vw;
		display: flex;
		flex-direction: row;
		align-items: center;
		background-color: white;
		padding: 2rem;
	}

	.SideBarContent {
		height: 80vh;
		right: 0;
		overflow: auto;
		padding-bottom: 6rem;
	}

	/* .SideBarIcon {
		margin-left: 0;
	} */
}

.tam-info {
	background-color: #e7f2ec;
	border: 1px solid #6fb28c;
	border-radius: 5px;
}

.btn-white {
	border: none;
	background: transparent !important;
}

.country-wise-info {
	width: 20rem;
	margin: 5px auto;
}

.explore-btn {
	width: 100%;
	position: sticky;
	z-index: 2;
	bottom: 0;
	right: '0';
}

.explore-country-btn {
	border: 1px solid #dbdbdb;
	box-shadow: none;
	box-sizing: border-box;
	font-size: 0.9rem;
	height: 2.6rem;
	padding: 0.25rem 1rem;
	border-bottom: none;
	border-right: none;
	border-left: none;
	background-color: #FFFFFF;
}

.tam-header {
	color: #108041;
}

.textAlignLeft {
	text-align: left;
}

.fontSizeS {
	font-size: 12px;
}

.fontSizeXS {
	font-size: 10px;
}

.infoIcon {
	background-color: black;
	color: white;
	font-size: 2rem;
	border-radius: 1rem;
}

.infoIconCol {
	display: flex;
	width: 5rem;
	margin: auto;
	justify-content: center;
	align-content: center;

}

.alignItemsCenter {
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: center;
}

.colBorder {
	border: 2px solid #e6e7e8;
	border-radius: 5px;
	padding: 5px;
	margin: auto;
	width: 8rem;

}

/* Header */
.Header {
	height: '10vh';
}

.enmasse-circle {
	width: 6px;
	height: 6px;
	background-color: #108041;
	border-radius: 100%;
}

/* login page css */

.login-header {
	font-size: 1.625rem;
}

.login-p {
	font-size: 0.825rem;
}

.loginCardAlign {
	width: 60%;
	background-color: transparent;
	border: none;
	border-style: none;
	display: flex;
	flex-direction: column;
	justify-content: start;
	text-align: start;
	margin: auto
}

.mediumMarginTopBottom {
	margin: 10px 0;
}

.inputBoxHeight {
	height: 3rem;
}

.grayBtnClr {
	background-color: #111827;
	color: #FFFFFF;

}

.login-btn {
	border: 1px solid #dbdbdb;
	border-radius: 0.35rem;
	box-shadow: none;
	box-sizing: border-box;
}

.blackBtnColor {
	background-color: black;
	color: white;

}

.black {
	color: black;
	text-decoration: underline;
	font-weight: 600;
}

/* loginUpdateBox */
.login-update-box {
	display: flex;
	justify-content: center;
	margin: auto;
	width: 50vw;
	height: 100vh;
}

/* terms and condition */
.dialog-width {
	max-width: 50vw;
	/* margin: 1.75rem auto;   */
}

.modal-padding {
	padding: auto 10rem;

}

.modal-header-padding {
	padding-top: 1rem;

}

.Dialog-p {
	text-align: start;
	font-size: small;
}

.Dialog-btn-width {
	width: 8rem;
}

.color-green {
	color: green;
}


@media only screen and (max-width: 850px) {
	.login-update-box {
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin: auto;
		width: 100vw;
		height: 50vh;
	}
}

.whiteBackground {
	background-color: white;
}

.lightGrayBackground {
	background-color: #eeeeef;
}

.paragraph {
	margin: 0rem;
	color: #000000;
}

.request-link {
	margin-bottom: 1rem;
}

.legend {
	background: rgb(212, 226, 219);
	background: linear-gradient(90deg, rgba(212, 226, 219, 1) 0%, rgba(123, 187, 155, 1) 15%, rgba(16, 128, 65, 1) 100%);
}

.legend-div {
	position: fixed;
	bottom: 0;
}

/* EHinfographic*/

.bg-img {
	/* background-image: url('./images/img3.png'); */
	background-repeat: no-repeat;
	width: 100vw;
	height: 100vh;
	background-size: cover;

}

.bg-black-opacity {
	background-color: #282c34;
	opacity: 0.8;
	width: 100vw;
	height: 100vh;
}

.circle {
	width: 20rem;
	height: 20rem;
	border-radius: 10rem;
	background-color: transparent;
}

.EHinfograpic-div-2 {
	width: 20vw;
	margin-top: 15rem;
	margin-right: 5rem !important;
	text-align: left;
}

.imgBorderRadiousinfograpic {
	border-radius: 20.7rem;
	margin-top: 20rem;
}

.contextualinfo {
	/* margin-left: 39rem; */
	border-radius: 20.7rem;
	margin-top: 7rem;
	margin-right: -42rem;
}


.btn-height {
	height: 2rem;
	width: 5rem;
	padding-bottom: 2rem;
}

.TotalAdressableMarket-div-2 {
	width: 20vw;
	margin-top: 25rem;
	margin-right: 5rem !important;
	text-align: left;
}

.TotalAdressableMarketImg {
	border-radius: 20.7rem;
	margin-top: 22rem;
	margin-right: -42rem;
}

/* Core Solutions */
.rb-label {
	font-size: 0.8rem;
}

.input-rb {
	height: 1rem;
	width: 1rem;
	background-color: #111827;
	accent-color: black;
}

.input-rb-header {
	font-size: 0.85rem;
}

.fit-content-div {
	width: fit-content;
}

.core-sol-div {
	border: none;
	border-radius: 3%;
	font-family: 'Poppins', sans-serif;
	width: 11rem;
}

.round-btn {
	width: 2rem;
	height: 2rem;
}

.primary-select-box .MuiOutlinedInput-notchedOutline {
	border: none !important;
}

.header-search-bar .MuiOutlinedInput-notchedOutline {
	border: none !important;
	/* background-color: #F3F3F4;
	color: #111827; */
}

.underline-text {
	text-decoration: underline;
}

/* profile page css */
.edit-profile-list {
	list-style: none;
	text-align: start;
}

.font-weight-500 {
	font-weight: 900;
}

.hw-fit-content {
	height: 1.7rem;
	width: 4.8rem;
	display: flex;
	justify-content: center;
	margin: auto;
	border-radius: 4px;
}

.bg-yellow {
	background-color: #c68f27;
}

.bg-green {
	background-color: #10810b;
}

/* accountcontainer/account/SideBar class for ListItemButton */
.account-sidebar .css-16ac5r2-MuiButtonBase-root-MuiListItemButton-root {
	height: 70px;
	color: #696970 !important;
}

.account-sidebar .css-16ac5r2-MuiButtonBase-root-MuiListItemButton-root.Mui-selected {
	color: black !important;
	background-color: #e7f2ec !important;
	border-left: 4px solid #108041;
}

/* accountcontainer/account/Invite class for table */
.account-sidebar .css-11xur9t-MuiPaper-root-MuiTableContainer-root {
	width: 95% !important;
}

/* Profile */
.detail-container {
	width: 96%;
	height: 100% !important;
}

.width-fit-content-button {
	width: fit-content;
}

.full-height {
	height: 100% !important;
}

.color-black {
	color: black;
}

.color-white {
	color: white;
}

.btn-outline-black {
	color: #343a40;
	vertical-align: middle;
	border: 1px solid black;
	padding: 0.375rem 0.75rem;
	line-height: 1.5;
	border-radius: 0.25rem;
}

.color-brown {
	color: #c68f27;
}

.bg-brown {
	background-color: #c68f27;
}

.color-orange {
	color: #D55038;
}

/* MapPopup */
.info-window {
	border: 0.5px solid #0F8040;
	box-shadow: 0px 3px 6px #00000029 !important;
	width: 11rem;
	height: 4rem;
	padding: 0.25rem !important;
}

.map-popup-grey-text {
	font-size: 0.825rem;
	color: #B4B4B4;
	font-family: 'Lato', sans-serif;
}

.map-popup-description {
	font-size: 0.625rem;
	line-height: 0.875rem;
	color: #9D9D9D;
}

.map-popup-story-img {
	height: 3.25rem;
	border-radius: 5px;
}

.green-text {
	color: #108041;
}

.menu-font-size {
	font-size: 14px !important;
}

/* Edit profile css */

.edit-profile-drawer-width .css-1160xiw-MuiPaper-root-MuiDrawer-paper {
	width: 25rem;
}


.edit-profile-drawer-padding .css-1160xiw-MuiPaper-root-MuiDrawer-paper {
	padding: 2rem;
}

/* InviteNew page */

.Note {
	font-size: 11px;
	background-color: #f9eade;
	height: 2rem;
	border-radius: 0.25rem;
	font-weight: 600 !important;
}

.btn-black {
	color: White;
	background-color: #000000;
	vertical-align: middle;
	border: 1px solid black;
	padding: 0.375rem 0.75rem;
	line-height: 1.5;
	border-radius: 0.25rem;
}

.profile-image-box {
	top: 214px;
	left: 377px;
	width: 200px;
	height: 200px;
	background: #E6E7E9 0% 0% no-repeat padding-box;
	opacity: 1;
}

.invite-table-drawer {
	overflow: auto;
	height: 90%;
	padding-bottom: 6rem;
}

.font-87-5 {
	font-size: 0.875rem;
}

.drawer-input-box-height {
	height: 2.75rem;
}

.scatter-chart {
	width: 600px;
	height: 400px;
	margin: auto;
}

/* Dashboard css starts here */
.white-bg {
	background-color: #ffffff;
}

.grey-para {
	color: var(--gray-color);
}

.fs-12 {
	font-size: 0.75rem;
}

.fs-18 {
	font-size: 1.125rem;
}

.fs-14 {
	font-size: 0.875rem;
}

.fs-11 {
	font-size: 0.688rem;
}

.dashboard-col {
	border: 1px solid #1118261A;
	border-radius: 5px;
}

.primary-bg {
	background-color: var(--primaryColor);
}

.dashboard-table-container {
	border: 1px solid #0D0B0B33;
	border-radius: 10px;
}

.dashboard-table-container table {
	width: 100%;
}

.dashboard-table-container td,
th {
	height: 3.25rem;
	text-align: start;
	padding: 0rem 0.875rem;
	border-bottom: 1px solid #ddd;
	font-weight: 500;
}

.dashboard-table-container th {
	color: #232323;
}

.table-header-btn {
	background-color: #ffffff;
	height: 1rem;
	width: 1.25rem;
}

.table-state-row {
	color: #367A2B;
}

.black-text {
	color: '#484E59';
}

.white-text {
	color: var(--white-color);
}

.bg-green-card {
	background-color: #108041;
}

/* SelecyYear CSS starts here */
.select-year {
	border: 1px solid #1118261A;
	border-radius: 2px;
}

.select-year option:hover {
	background-color: black;
	color: white;
}

.dialog-div {
	width: 21rem;
}

/* .carousel-btn-next,
.carousel-btn-prev {
	width: 15%;
	padding: 0;
	color: #e7e9eb;
	margin-top: 2.5rem;
	border: 0;
	opacity: .5;
	height: 20%;
	border-radius: 50%;
	background-color: black;
} */

.PrevBtn {
	left: -1.2rem;
	background-color: white;
	height: 36%;
	border-radius: 7.5rem;
	margin-top: 2rem;
	opacity: unset;
	width: 11%;
	box-shadow: 0rem 0rem 3rem #00000029;

}

.NextBtn {
	right: -1.2rem;
	background-color: white;
	height: 36%;
	border-radius: 7.5rem;
	margin-top: 2rem;
	border-style: groove;
	opacity: unset;
	width: 11%;
}

.iconNextPrev {
	color: var(--blackColor);
}

.family-empty-btn {
	border: 1px solid #111827;
	border-radius: 5px;
	background-color: var(--secondaryColor);
	color: #111827;
	padding: 0.5rem;
}

.fs-20 {
	font-size: 1.25rem;
}

.fam-details-card {
	border-radius: 5px;
	border: var(--secondaryColor);
}

.static-map {
	height: 20rem;
	width: 20rem;
}

.fam-side-map-div {
	height: fit-content;
	width: fit-content;
}

.family-card-container {
	width: 20.875rem;
}

.story-map-div {
	border: 1px solid #0D0B0B14;
	border-radius: 5px;
}

.map-container-sm {
	width: 18rem;
	height: 20rem;
}
